<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href='/static/styles.css'>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('controller.signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('controller.login') }}">Log In</a></li>

        </ul>
            <div class="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
